includes:
    - %currentWorkingDirectory%/vendor/studio-stomp/phpstan-craftcms/extension.neon

parameters:
    scanFiles:
            - %currentWorkingDirectory%/vendor/yiisoft/yii2/Yii.php
            - %currentWorkingDirectory%/vendor/craftcms/cms/src/Craft.php

    paths:
        - %currentWorkingDirectory%/modules/

    inferPrivatePropertyTypeFromConstructor: true
